<h1>Author: <%= @message.author %></h1>

<p>
  <%= @message.content %>
</p>
<p>
  <a href=<%= @message.url && "http://" + @message.url %>><%=@message.url%></a>
</p>

<p>
  Created on: <%= @message.created_at %>
</p>

<p> Other Posts:
<%= Message.find_by(author: @message.author) %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>